
.main-header{
    .top{
   display: flex;
   justify-content: space-between;

   .name {
    :hover{
        border-bottom: blue;
        border-style: solid;
        border-bottom-width: 40px;
    }
}
    }
    .bottom::-webkit-scrollbar{
       display: none
    }
    .bottom{
        a:hover{
            color: dodgerblue;
            text-decoration: underline;
            transition: all;
            transition-duration: 500;
        }
    }
}


