.profile-list:hover{
    background: dodgerblue;
    color: white;
    cursor: pointer;
}

.nav-container a:hover{
    background: rgb(236, 236, 236) !important;
}

.profile-img{
    background: none !important;
   &-1{
       height: 8rem;
       width: 8rem;
    border-radius: 50%;
    color: rgb(221, 220, 220);
   }
}
